.me

.me-img
  display: inline-block
  width: 40%
  vertical-align: middle
  padding: 1rem
  // +shadow-z-4($brand-primary)

.me-text
  padding: 3rem
  width: 60%
  display: inline-block
  margin-left: -30px
  vertical-align: middle
  background-color: $white
  +shadow-z-5($brand-primary)
  &-header
    h1
      margin-top: 0
      color: $brand-cta
    p
      margin-bottom: 0
  &-body
  &-footer
