.spinner-wrapper
  .cube-spinner
    .cube.cube--1.anim-slide-1
      .c1a
      .c1b
      .c1c
      .c1d
      .c1e
      .c1f
    .cube.cube--2.anim-slide-2
      .c1a
      .c1b
      .c1c
      .c1d
      .c1e
      .c1f
    .cube.cube--3.anim
      .c1a
      .c1b
      .c1c
      .c1d
      .c1e
      .c1f
      
