

.blog-card.debug-border
  .blog-card-img-wrapper
    img(src=placeholders.img.images.vertical.standard, alt="1").blog-card-img
  div(class="blog-card-text .text-"+bType)
    .blog-card-text-heading
      h3 lorem
    .blog-card-text-description
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, blanditiis, reprehenderit! Recusandae itaque eaque quaerat molestias dignissimos, qui quia! Fugit, eum. Non sint cumque necessitatibus id soluta quasi voluptatum tempora.
