.col-sm-10.col-sm-offset-1.card-holder
  .card.card-vertical.clearfix
    .card-text-holder
      .card-text
        .card-title
          h3 web design
        .card-description
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat repellendus quam possimus natus ducimus, nostrum dolore illo cupiditate aperiam hic praesentium pariatur earum repudiandae libero suscipit officiis, tempore similique! Quod!
        if cType == "3d"
          a.btn.btn-3d(href="#") check it out
            .cube
              .default-state check it out
              .active-state
              .side-face
        else if cType =="2d"
          a.btn.btn-2d(href="#") check it out
            span
        else if cType =="web"
          a.btn.btn-primary(href="#") check it out
    .card-img-holder
      a(href="#"): img.card-img(src=placeholders.img.images.horizontal.standard, alt="")
