section.me.inner-section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .me-img
          img.img-responsive(src="http://via.placeholder.com/500x800", alt="")
        .me-text
          .me-text-header
            h2 Trochę o mnie
            p hehe
          .me-text-body
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident asperiores, odio, rerum rem repudiandae assumenda enim nisi atque, magnam, sed ex. Distinctio ullam dolore, animi dicta dolores consequuntur, commodi quaerat?
          .me-text-footer
