extends ../templates/base
block extra_css

block content
  section.header
    .section-deco
    .container
      .row
        .col-sm-6.col-sm-push-3
          .section-header-main
            h1 Rafał Kozłowski
            p Projektant
  //- section
    include ../includes/components/loader_spinner.pug
  include index/me
  section.portfolio.inner-section
    .container
      .row
        .col-sm-6.col-sm-push-3.text-center
          .section-header
            h2 title
      .row
        - var cType = "2d"
        include index/index-portfolio-card
      .row
        - var cType = "3d"
        include index/index-portfolio-card-reversed
      .row
        - var cType = "web"
        include index/index-portfolio-card
  section.blog
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .row
            .col-sm-4
              - var bType = "left"
              include index/index-blog
            .col-sm-4
              - var bType = "center"
              include index/index-blog
              include index/index-blog
            .col-sm-4
              - var bType = "right"
              include index/index-blog
          
block extra_js
