.section-deco
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  transform-origin: center top
  // background-color: $brand-primary
  background-image: $brand-gradient
  transform: rotateZ(-10deg) scale(1.5, 6)
  +shadow-z-1(black)

  .header &
    top: 50%
    // left: 0
    height: 100%
    transform: rotateZ(-10deg) scale(1.5, 3) translateY(-50%)

  .footer &
    top: 20%
    transform: rotateZ(10deg) scale(1.5, 2)
